body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f3f3f3;
}

.game-container {
    text-align: center;
}

.hexagon-container {
    justify-content: center;
    align-items: center;
    width: 210px;
    position: relative;
}

.hexagon {
    background-color: #a8a8a8;
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border: none;
    position: relative;

    clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
}

#center-letter {
    background-color: #e5d11b;
}

#upper-right-letter {
    top: 31px;
    right: 20px;
}

#upper-left-letter {
    top: 31px;
    left: 20px;
}

#lower-left-letter {
    top: 31px;
    left: 20px;
}

#lower-right-letter {
    top: 31px;
    right: 20px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#resultList {
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-top: 20px;
    text-align: left;
}
